.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-style: solid;
  border-bottom-width: 2px;
}

/* name in navbar */
#name {
  margin: 0px 0 0 50px;
  color: white;
  background: #4aaaa5;
  font-size: 28px;
  padding: 20px;
}

.navbar-items {
  display: flex;
  /*set display property to flex in order to use CSS Flexbox*/
  flex-wrap: wrap;
  /*fits all list items a single line*/
  list-style: none;
  /*remove bullet points from list*/
}

.nav-item {
  padding: 0rem;
  margin: 1rem;
}

#contact {
  border-left: solid 1px;
  border-right: solid 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#mainContent {
  margin: 50px 50px;
  padding: 50px;
  line-height: 2;
  border: #dddddd solid 1px;
  width: 859px;
}

footer {
  margin: 0;
  padding: 20px 0px 0px 0px;
  color: white;
  background: #666666;
  border-top: 6px;
  border-style: solid;
  border-top-color: #4aaaa5;
  text-align: center;
}
