/* Common styles for all webpages */

header {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
}

.nav {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#name {
  margin: 0px 0 0 0px;
  color: white;
  background: #4aaaa5;
  padding: 20px;
}

.navbar-items {
  display: flex;
  /*set display property to flex in order to use CSS Flexbox*/
  flex-wrap: wrap;
  /*fits all list items a single line*/
  list-style: none;
  /*remove bullet points from list*/
}

.nav-item {
  padding: 0rem;
  margin: 1rem;
}

#contact {
  border-left: solid 1px;
  border-right: solid 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* remove underlines from achor tags */
a {
  text-decoration: none;
}
/* remove visited link color */
a:visited {
  color: #777777;
}

main {
  margin: 50px auto;
  padding: 30px 50px;
  line-height: 2;
  border: #dddddd solid 1px;
  width: 858px;
  background-color: #ffffff;
  color: #777777;
}

#profilePic {
  float: left;
  padding-right: 15px;
}

footer {
  margin: 0;
  padding: 40px 0px 0px 0px;
  color: #ffffff;
  background: #666666;
  border-top: 6px solid #4aaaa5;
  text-align: center;
}

/* heading font-color */
h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 28px;
}

/* font family for all other text apart from the heading */
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background: url('../../assets/images/light-grey-terrazzo.png');
}

#about,
#portfolio {
  color: #4aaaa5;
  font-weight: 900;
}

/* keep images within main content container */
.clearfix {
  overflow: auto;
}

/* */
/* */
/* */
/* CSS style for index.html */
/* */
/* */
/* */
/* indent 2nd paragraph */
.tab {
  text-indent: 40px;
}

/* */
/* */
/* */
/* CSS style for portfolio.html */
/* */
/* */
/* */
.container {
  float: left;
  position: relative;
  text-align: end;
  color: white;
  border: #4aaaa5;
}

.imageLabel {
  position: relative;
  background: #4aaaa5;
  text-align: center;
  width: 200px;
  top: -50px;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
